@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
  background: linear-gradient(to right, #24677A, #18A5CD);
}
html,body{
margin:0;
}


.app-wrapper{
  background: linear-gradient(to right, #24677A, #18A5CD);
  height: 100vh;
  
}

.AdminPage-wrapper{
  
  
  
}

.assetsavailable-container{
  background-color: rgba(24,71,165,1); 
  border-radius: 10px;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
}

.app-container{
  color: #F0F3F4;
}

.AdminPage-container{
  color: #F0F3F4;
}

.Requestlist-container{
  border-radius: 10px;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  background-color: rgba(24,71,165,1); 
}

.ListAssets-container{
  border-radius: 10px;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  background-color: rgba(24,71,165,1);
}

.RequestToAdmin-container{
  border-radius: 10px;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  background-color: rgba(24,71,165,1);
}

.signin-cont{
  display: inline-block;
  background-color: rgba(24,71,165,1);
  border-radius: 10px;
  margin-top: 100px;
  width: 50%;
  padding: 70px 0;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
}

.root-signin{
  background: linear-gradient(to right, #24677A, #18A5CD);
  height: 100vh;
}


.root-signup{
  background: linear-gradient(to right, #24677A, #18A5CD);
  height: 100vh;

}

.signup-cont{
  display: inline-block;
  background-color: rgba(24,71,165,1);
  border-radius: 10px;
  margin-top: 100px;
  width: 50%;
  padding: 70px 0;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
}
